:root {
    --primary-color: rgb(71, 36, 9);
    --secondary-color: rgb(202, 183, 8);
    --accent-color: rgb(51, 218, 45);
    --danger-color: rgb(249, 65, 19);

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.scene{
    
}
footer {
    position: fixed;
    bottom: 10px;

    #inventory-container {
        border: 2px solid black;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        .item{
            width: 15vw;
        }
    }
}

#shop {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}