:root {
    --primary-color: rgb(71, 36, 9);
    --primary-light-color: rgb(126, 65, 17);
    --secondary-color: rgb(202, 183, 8);
    --accent-color: rgb(51, 218, 45);
    --danger-color: rgb(249, 65, 19);

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "MedievalSharp", cursive;
    overflow: hidden;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
}

h1 {
    width: 90%;
    font-size: 7vw;
    text-align: center;
    font-weight: bold;
    color: var(--primary-color);
    margin-top: 20px;
}

h2 {
    font-size: 40px;
    font-weight: bold;
    color: var(--primary-color);
}

body {
    height: 100vh;
    width: 100%;
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
    background-color: #b86e14;
    background-image: url("/IMG/background-town.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    position: relative;
    border: 2px solid red;

}

main {
    display: flex;
    align-items: center;
    justify-content: center;

}

.scene {
    display: none !important;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 65vh;
    width: 90vw;
    border: 2px solid red;
}

.scene.active {
    display: flex !important;
}

/* PLAYER */

#scene-player-container {
    background-color: #b86e14;
    background-image: url("https://www.transparenttextures.com/patterns/wood-pattern.png");
    border: 4px solid var(--primary-color);
    border-radius: 20px;
    width: 400px;
    height: 100%;
}

#scene-player-container #player-name-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    height: 40%;
    padding-inline-start: 10px;
    font-size: 2rem;
    gap: 10px;
    font-weight: bold;
}

img {
    border: 4px solid var(--primary-color);
    border-radius: 10px;
    background-color: var(--secondary-color);
    height: 150px;
    width: 100px;
}

#scene-player-container .player-stats {
    border: 4px solid var(--primary-color);
    border-radius: 10px;
    background-color: var(--secondary-color);
    height: 40%;
    padding: 10px;
    margin-inline: 10px;
    font-size: 2rem;
}

/* Phone */
@media (max-width: 480px) {
    #scene-player-container {
        width: 300px;
    }
    #scene-player-container #player-name-container {
        font-size: 1.5rem;
    }
    #scene-player-container .player-stats{
        font-size: 1.5rem;
    }
}

/* Tablet */
@media (min-width: 481px) and (max-width: 1024px) {}

/* PC */
@media (min-width: 1025px) {}

/* SHOP */
#scene-shop h2{
    height: 50px;
}

#scene-shop-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #b86e14;
    background-image: url("https://www.transparenttextures.com/patterns/wood-pattern.png");
    border: 4px solid var(--primary-color);
    border-radius: 10px;
    width: 800px;
    height: 100%;
    justify-self: center;
    padding: 10px;
    
}

#shop {

    justify-self: center;
    padding: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2px;
    height: 70%;
    overflow-y: scroll;


    img {
        width: 100px;
        aspect-ratio: 1 / 1;

    }
}

#shop>div {
    background-color: var(--secondary-color);
    border: 4px solid var(--primary-color);
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
}

#shop>div.bought {
    background-color: rgb(209, 218, 130);
}

#shop div button {
    background-color: var(--secondary-color);
    border: 2px solid var(--primary-color);
    border-radius: 5px;
    padding: 2px;
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;

    #inventory-container {
        background-color: #b86e14;
        background-image: url("https://www.transparenttextures.com/patterns/wood-pattern.png");
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-items: center;
        width: 90%;
        margin: 8px 20%;
        padding: 8px;
        gap: 4px;
        border: 4px solid var(--primary-color);
        border-radius: 10px;

        @media (max-width: 768px) {
            margin: 8px 5%;
        }

        .item {
            flex: 1;
            aspect-ratio: 1 / 1;
            border: 4px solid var(--primary-color);
            border-radius: 10px;
            background-color: var(--secondary-color);

            img {
                width: 100%;
                height: 100%;
            }
        }
    }
}



.button-container {
    height: 20%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}

#player-continue,
#shop-continue,
#player-inventory-continue,
#enemies-continue,
#battle-continue,
#ranking-reset {
    background-color: var(--secondary-color);
    border: 4px solid var(--primary-color);
    border-radius: 10px;
    height: 70px;
    width: 150px;
    font-size: 1.5rem;
    font-weight: bold;
    padding: 10px;
}

/* Phone */
@media (max-width: 480px) {}

/* Tablet */
@media (min-width: 481px) and (max-width: 1024px) {}

/* PC */
@media (min-width: 1025px) {}



/* Phone */
@media (max-width: 480px) {}

/* Tablet */
@media (min-width: 481px) and (max-width: 1024px) {}

/* PC */
@media (min-width: 1025px) {}