:root {
    --primary-color: rgb(71, 36, 9);
    --secondary-color: rgb(202, 183, 8);
    --accent-color: rgb(51, 218, 45);
    --danger-color: rgb(249, 65, 19);

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: orange;
    height: 100px;
}

body {
    height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

main {
    margin: 64px;

    .scene {
        display: none;
    }

    .scene.active {
        display: block;
    }
}

main>div {
    background-color: red;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;

    #inventory-container {
        background-color: red;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-items: center;
        width: 600px;
        margin: 8px 20%;
        padding: 8px;
        gap: 4px;

        @media (max-width: 768px) {
            margin: 8px 5%;
        }

        .item {
            flex: 1;
            aspect-ratio: 1 / 1;
            background-color: blue;

            img {
                width: 100%;
                height: 100%;
            }
        }
    }
}

#shop {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
}

#shop>div {
    background-color: rgb(130, 130, 218);
    padding: 10px;
}

#scene-enemies {
    #enemies {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 10px;
        margin: 20px;
    }

    #enemies>div {
        background-color: rgb(154, 154, 230);
        width: 200px;
        display:flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 10px;
        margin: 20px;
    }

    #final-bosses {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 10px;
        margin: 20px;
    }

    #final-bosses>div {
        background-color: rgb(154, 154, 230);
        width: 200px;
        display:flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 10px;
        margin: 20px;
    }
}