:root {
    --primary-color: rgb(71, 36, 9);
    --primary-light-color: rgb(126, 65, 17);
    --background-color: rgb(199, 110, 42);
    --secondary-color: rgb(202, 183, 8);
    --text-color: rgb(0, 0, 0);

}



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "MedievalSharp", cursive;
    color: var(--text-color);
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
}

h1 {
    width: 90%;
    font-size: 4.5rem;
    text-align: center;
    font-weight: bold;
    color: var(--primary-color);
    margin-top: 20px;
}

/* Phone */
@media (max-width: 700px) {
    h1 {
        font-size: 7vw;
    }
}

/* Tablet */
@media (min-width: 700px) and (max-width: 1024px) {
    h1 {
        font-size: 3rem;
    }
}

h2 {
    font-size: 40px;
    font-weight: bold;
    color: var(--primary-color);
}

body {
    height: auto;
    width: 100%;
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
    background-color: var(--background-color);
    background-image: url("./IMG/background-town.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    overflow: hidden;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;

}

.scene {
    display: none !important;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60vh;
    max-height: 600px;
    width: 90vw;
}

.scene.active {
    display: flex !important;
}

/* FORM */
#scene-form {
    background-color: var(--background-color);
    background-image: url("https://www.transparenttextures.com/patterns/wood-pattern.png");
    border: 4px solid var(--primary-color);
    border-radius: 20px;
    height: 100%;
}

/* PLAYER */
#scene-player-container,
#scene-player-inventory-container {
    background-color: var(--background-color);
    background-image: url("https://www.transparenttextures.com/patterns/wood-pattern.png");
    border: 4px solid var(--primary-color);
    border-radius: 20px;
    width: 400px;
    height: 100%;
}

#scene-player-container #player-name-container,
#scene-player-inventory-container #player-name-inventory-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    height: 40%;
    padding-inline-start: 10px;
    font-size: 2rem;
    gap: 10px;
    font-weight: bold;
}

#scene-player-container img,
#scene-player-inventory-container img {
    border: 4px solid var(--primary-color);
    border-radius: 10px;
    background-color: var(--secondary-color);
    height: 150px;
    width: 100px;
}

#scene-player-container .player-stats,
#scene-player-inventory-container .player-stats {
    border: 4px solid var(--primary-color);
    border-radius: 10px;
    background-color: var(--secondary-color);
    height: 40%;
    padding: 10px;
    margin-inline: 10px;
    font-size: 2rem;
}

/* Phone */
@media (max-width: 480px) {

    #scene-player-container,
    #scene-player-inventory-container {
        width: 300px;
    }

    #scene-player-container .player-name,
    #scene-player-inventory-container .player-name {
        font-size: 1.5rem;
    }

    #scene-player-container .player-stats,
    #scene-player-inventory-container .player-stats {
        font-size: 1.5rem;
    }
}

/* PC */
@media (max-height: 700px) {

    #scene-player-container .player-name,
    #scene-player-inventory-container .player-name {
        font-size: 1.5rem;
    }

    #scene-player-container .player-stats,
    #scene-player-inventory-container .player-stats {
        font-size: 1.5rem;
    }

    #scene-player-container img,
    #scene-player-inventory-container img {
        height: 100px;
        width: 75px;
    }

    #scene-player-container #player-name-container,
    #scene-player-inventory-container #player-name-inventory-container {
        gap: 2px;
    }
}

/* SHOP */
#scene-shop-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--background-color);
    background-image: url("https://www.transparenttextures.com/patterns/wood-pattern.png");
    border: 4px solid var(--primary-color);
    border-radius: 20px;
    width: auto;
    height: 100%;
    padding: 10px;
}

#shop {
    padding: auto;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    flex-direction: row;
    justify-self: center;
    flex-wrap: wrap;
    gap: 2px;
    overflow-y: auto;
    scrollbar-color: var(--secondary-color) var(--primary-color);
    margin-inline: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

#shop img {
    width: 75px;
    height: 75px;
    animation: bigRotate 0.5s ease;
}

#shop>div {
    background-color: var(--secondary-color);
    border: 4px solid var(--primary-color);
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2px;
    height: 150px;
    overflow: hidden;
    font-size: 0.6rem;
}

#shop>div:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
    transition: all 0.1s ease;
}

#shop>div.bought {
    background-color: transparent;
}

#shop>div.bought button {
    background-color: transparent;
}

#shop div button {
    background-color: var(--secondary-color);
    border: 2px solid var(--primary-color);
    border-radius: 5px;
    padding: 2px;
}

#shop div button:hover {
    transform: scale(1.05);
    transition: transform 0.1s ease;
    background-color: var(--primary-color);
    color: var(--secondary-color);
}

#shop>div.bought img {
    animation: smallRotate 0.5s ease;
    transform: scale(0.5);
}

@keyframes smallRotate {
    from {
        transform: scale(1.05) rotate(0deg);
    }

    to {
        transform: scale(0.5) rotate(360deg);
    }
}

@keyframes bigRotate {
    from {
        transform: scale(0.5) rotate(160deg);
    }

    to {
        transform: scale(1.05) rotate(0deg);
    }
}



/* Phone */
@media (max-width: 600px) {
    #scene-shop h3 {
        font-size: 10px;
    }


}

/* Tablet */
@media (min-width: 600px) and (max-width: 1024px) {
    #scene-shop h2 {
        font-size: 30px;
    }

    #scene-shop h3 {
        font-size: 15px;
    }

    #shop img {
        width: 75px;
        height: 75px;
    }


}

/* PC */
@media (max-width: 700px) {
    #shop {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media (max-width: 600px) {
    #shop {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 500px) {
    #shop {
        grid-template-columns: repeat(2, 1fr);
    }
}

/* ENEMIES */
#scene-enemies-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;

}

#all-enemies {
    height: 80%;
    overflow-y: auto;
    scrollbar-color: var(--secondary-color) var(--primary-color);
}

#scene-enemies-container #enemies,
#scene-enemies-container #final-bosses {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-bottom: 20px;
    flex-wrap: wrap;

}

#scene-enemies-container #enemies>div,
#scene-enemies-container #final-bosses>div {
    background-color: var(--background-color);
    background-image: url("https://www.transparenttextures.com/patterns/wood-pattern.png");
    border: 4px solid var(--primary-color);
    border-radius: 20px;
    padding: 10px;
    height: auto;
    width: 200px;
}

#scene-enemies-container #enemies>div>div:nth-child(1),
#scene-enemies-container #final-bosses>div>div:nth-child(1) {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
    font-size: 1rem;
    font-weight: bold;
    width: 100%;
}

#scene-enemies-container img {
    width: 100px;
    height: 100px;
    border: 4px solid var(--primary-color);
    border-radius: 10px;
    padding: 10px;
}

#scene-enemies-container #enemies img {
    background-color: var(--secondary-color);
}

#scene-enemies-container #final-bosses img {
    background-color: var(--primary-light-color);
}



#scene-enemies-container #enemies>div>div:nth-child(2),
#scene-enemies-container #final-bosses>div>div:nth-child(2) {
    border: 4px solid var(--primary-color);
    border-radius: 10px;
    padding: 10px;
    font-size: 0.7rem;
    height: 70px;
}

#scene-enemies-container #enemies>div>div:nth-child(2) {
    background-color: var(--secondary-color);
}

#scene-enemies-container #final-bosses>div>div:nth-child(2) {
    background-color: var(--primary-color);
}

#scene-enemies-container #final-bosses>div>div:nth-child(2) div {
    color: var(--secondary-color);
}

/* BATTLE */
#scene-battle-container {
    height: 100%;
    border: 4px solid var(--primary-color);
    border-radius: 20px;
    background-color: var(--background-color);
    background-image: url("https://www.transparenttextures.com/patterns/wood-pattern.png");
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

#scene-battle-container #battle-count {
    margin: 10px;
}

#scene-battle-container #battle {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 10px;
}

#scene-battle-container #player-battle,
#scene-battle-container #enemy-battle {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 10px;
}

#scene-battle-container #battle>div:nth-child(2) {
    font-size: 2rem;
    color: var(--primary-color);
}

#scene-battle-container #battle h2 {
    font-size: 1.5rem;
    color: var(--text-color);
}

#scene-battle-container img {
    height: 150px;
    width: 150px;
    border: 4px solid var(--primary-color);
    border-radius: 10px;
    background-color: var(--secondary-color);
    padding: 10px;
}

#scene-battle-container img.final-boss {
    background-color: var(--primary-light-color);
}

#scene-battle-container #battle-info {
    font-size: 1.5rem;
    text-align: center;
}

#battle-continue {
    position: absolute;
    bottom: 20px;
}

#scene-battle-container #player-battle img {
    animation: fromRight 0.5s ease;
}

#scene-battle-container #enemy-battle img {
    animation: fromLeft 0.5s ease;
}


@keyframes fromLeft {
    from {
        transform: translateX(-70vw);
    }

    to {
        transform: translateX(0);
    }
}

@keyframes fromRight {
    from {
        transform: translateX(70vw);
    }

    to {
        transform: translateX(0);
    }
}

/* Phone */
@media (max-width: 480px) {
    #scene-battle-container img {
        height: 100px;
        width: 100px;
    }

    #scene-battle-container #battle>div:nth-child(2) {
        font-size: 1rem;
    }

    #scene-battle-container #battle h2 {
        font-size: 0.9rem;
    }

    #scene-battle-container #battle-info {
        font-size: 1rem;
    }
}

@media (max-height: 800px) {
    #scene-battle-container img {
        height: 100px;
        width: 100px;
    }

    #scene-battle-container #battle>div:nth-child(2) {
        font-size: 1rem;
    }

    #scene-battle-container #battle h2 {
        font-size: 0.9rem;
    }

    #scene-battle-container #battle-info {
        font-size: 1rem;
    }

    #scene-battle-container #battle-count {
        margin: 5px;
    }

    #scene-battle-container #battle {
        margin: 5px;
    }
}

/* RANKING */
#scene-ranking-container {
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 4px solid var(--primary-color);
    border-radius: 20px;
    background-color: var(--background-color);
    background-image: url("https://www.transparenttextures.com/patterns/wood-pattern.png");
    padding: 10px;
    font-size: 1.5rem;
    gap: 30px;
}

#scene-ranking-container #player-name-ranking,
#scene-ranking-container #player-category,
#scene-ranking-container #points-ranking {
    font-size: 2rem;
    font-weight: bold;
}

#ranking-reset {
    position: absolute;
    bottom: 20px;
}

/* Phone */
@media (max-width: 480px) {
    #scene-ranking-container {
        font-size: 0.8rem;
    }

    #scene-ranking-container #player-name-ranking,
    #scene-ranking-container #player-category,
    #scene-ranking-container #points-ranking {
        font-size: 1rem;
        font-weight: bold;
    }
}


/* FOOTER */
footer {
    display: flex;
    align-items: center;
    justify-content: center;

}

footer #inventory-container {
    background-color: var(--background-color);
    background-image: url("https://www.transparenttextures.com/patterns/wood-pattern.png");
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-items: center;
    width: 90%;
    max-width: 800px;
    margin: 8px 20%;
    padding: 8px;
    gap: 4px;
    border: 4px solid var(--primary-color);
    border-radius: 10px;
}

@media (max-width: 768px) {
    footer #inventory-container {
        margin: 8px 5%;
    }
}

footer #inventory-container .item {
    flex: 1;
    aspect-ratio: 1 / 1;
    border: 4px solid var(--primary-color);
    border-radius: 10px;
    background-color: var(--secondary-color);
    display: flex;
    align-items: center;
    justify-content: center;
}

footer #inventory-container .item img {
    border: none;
    width: 90%;
    height: 90%;
}

footer #inventory-container .item img:hover {
    transform: scale(1.05);
    transition: transform 0.1s ease;
}

/* SCENE BUTTONS */
#player-continue,
#shop-continue,
#player-inventory-continue,
#enemies-continue,
#battle-continue,
#ranking-reset,
#tabla-reset {
    background-color: var(--secondary-color);
    border: 4px solid var(--primary-color);
    border-radius: 10px;
    height: 70px;
    width: 150px;
    font-size: 1.5rem;
    font-weight: bold;
    padding: 10px;
}

#player-continue:hover,
#shop-continue:hover,
#player-inventory-continue:hover,
#enemies-continue:hover,
#battle-continue:hover,
#ranking-reset:hover,
#tabla-reset:hover {
    transform: scale(1.05);
    transition: transform 0.1s ease;
}

.button-container {
    height: 20%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}

/* Phone */
@media (max-height: 700px) {

    #player-continue,
    #shop-continue,
    #player-inventory-continue,
    #enemies-continue,
    #battle-continue,
    #ranking-reset {
        height: 50px;
        width: 150px;
    }
}

/* TABLA */
#scene-tabla {
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    border: 4px solid var(--primary-color);
    border-radius: 20px;
    background-color: var(--background-color);
    background-image: url("https://www.transparenttextures.com/patterns/wood-pattern.png");
    padding: 10px;
    font-size: 1.5rem;
    width: 40%;
    padding-top: 50px;

}

#scene-tabla-container {
    width: 80%;
    height: 60%;
}

table {
    width: 100%;
    border-collapse: collapse;
    /* sin espacio entre bordes */
    font-size: 0.95rem;
    background-color: var(--secondary-color);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
    border: 4px solid var(--primary-color);
    height: 100%;
    width: 100%;
}

th,
td {
    border: 2px solid var(--primary-color);
    padding: 2px;
    text-align: center;
}

th {
    background-color: var(--primary-light-color);
    color: var(--secondary-color);
}

#tabla-reset {
    margin-top: 100px;
}

#monedero {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 1vh;
    left: 2vw;
    animation: fromLeft2 1s ease;
}

#monedero img {
    width: 100px;
    height: 120px;
}

#monedero span {
    position: absolute;
    top: 50%;
    bottom: 50%;
}

@keyframes fromLeft2 {
    from {
        transform: translateX(-20vw);
    }

    to {
        transform: translateX(0);
    }
}

#monedas {
    position: absolute;
    width: 100%;
    height: 70px;
    top: 50vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    animation: down 2s ease;
}

#monedas img {
    width: 100px;
    height: 100px;
    /* position: absolute; */
    animation: rotate 0.2s infinite ease,
        disappear 2s ease-out;
    opacity: 0;
}

#monedas img:nth-child(1) {
    left: 20vw;
}

#monedas img:nth-child(2) {
    left: 45vw;
}

#monedas img:nth-child(3) {
    left: 70vw;
}

@keyframes down {
    from {
        transform: translateY(-60vh);
    }

    to {
        transform: translateY(0vh);
    }
}

@keyframes rotate {
    from {
        transform: rotateY(0deg);
    }

    to {
        transform: rotateY(360deg);
    }
}

@keyframes disappear {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}