:root {
    --primary-color: rgb(71, 36, 9);
    --primary-light-color: rgb(126, 65, 17);
    --secondary-color: rgb(202, 183, 8);
    --accent-color: rgb(51, 218, 45);
    --danger-color: rgb(249, 65, 19);

}



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "MedievalSharp", cursive;
    overflow: hidden;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
}

h1 {
    width: 90%;
    font-size: 4.5rem;
    text-align: center;
    font-weight: bold;
    color: var(--primary-color);
    margin-top: 20px;
}

/* Phone */
@media (max-width: 700px) {
    h1 {
        font-size: 7vw;
    }
}

/* Tablet */
@media (min-width: 700px) and (max-width: 1024px) {
    h1 {
        font-size: 3rem;
    }
}

/* PC */
@media (min-width: 1025px) {}

h2 {
    font-size: 40px;
    font-weight: bold;
    color: var(--primary-color);
}

body {
    height: auto;
    width: 100%;
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
    background-color: #b86e14;
    background-image: url("/IMG/background-town.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;

}

main {
    display: flex;
    align-items: center;
    justify-content: center;

}

.scene {
    display: none !important;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60vh;
    width: 90vw;
}

.scene.active {
    display: flex !important;
}

/* PLAYER */
#scene-player-container,
#scene-player-inventory-container {
    background-color: #b86e14;
    background-image: url("https://www.transparenttextures.com/patterns/wood-pattern.png");
    border: 4px solid var(--primary-color);
    border-radius: 20px;
    width: 400px;
    height: 100%;
}

#scene-player-container #player-name-container,
#scene-player-inventory-container #player-name-inventory-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    height: 40%;
    padding-inline-start: 10px;
    font-size: 2rem;
    gap: 10px;
    font-weight: bold;
}

#scene-player-container img,
#scene-player-inventory-container img {
    border: 4px solid var(--primary-color);
    border-radius: 10px;
    background-color: var(--secondary-color);
    height: 150px;
    width: 100px;
}

#scene-player-container .player-stats,
#scene-player-inventory-container .player-stats {
    border: 4px solid var(--primary-color);
    border-radius: 10px;
    background-color: var(--secondary-color);
    height: 40%;
    padding: 10px;
    margin-inline: 10px;
    font-size: 2rem;
}

/* Phone */
@media (max-width: 480px) {

    #scene-player-container,
    #scene-player-inventory-container {
        width: 300px;
    }

    #scene-player-container .player-name,
    #scene-player-inventory-container .player-name {
        font-size: 1.5rem;
    }

    #scene-player-container .player-stats,
    #scene-player-inventory-container .player-stats {
        font-size: 1.5rem;
    }
}

/* Tablet */
@media (min-width: 481px) and (max-width: 1024px) {}

/* PC */
@media (min-width: 1025px) {}

/* SHOP */
#scene-shop-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #b86e14;
    background-image: url("https://www.transparenttextures.com/patterns/wood-pattern.png");
    border: 4px solid var(--primary-color);
    border-radius: 10px;
    width: 80vw;
    height: 100%;
    padding: 10px;

}

#shop {

    padding: auto;
    display: flex;
    flex-direction: row;
    justify-self: center;
    flex-wrap: wrap;
    gap: 2px;
    height: 70%;
    overflow-y: auto;
    scrollbar-color: var(--secondary-color) var(--primary-color);
    margin-inline: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

#shop img {
    width: 100px;
    height: 100px;

}

#shop>div {
    background-color: var(--secondary-color);
    border: 4px solid var(--primary-color);
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2px;
    height: 150px;
}

#shop>div:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
    transition: all 0.1s ease;

}

#shop>div.bought {
    background-color: transparent;
}

#shop>div.bought button {
    background-color: transparent;
}

#shop div button {
    background-color: var(--secondary-color);
    border: 2px solid var(--primary-color);
    border-radius: 5px;
    padding: 2px;
}

#shop div button:hover {
    transform: scale(1.05);
    transition: transform 0.1s ease;
    background-color: var(--primary-color);
    color: var(--secondary-color);
}

/* Phone */
@media (max-width: 600px) {
    #scene-shop h3 {
        font-size: 10px;
    }

    #shop img {
        width: 75px;
        height: 75px;
    }

}

/* Tablet */
@media (min-width: 600px) and (max-width: 1024px) {
    #scene-shop h2 {
        font-size: 30px;
    }

    #scene-shop h3 {
        font-size: 15px;
    }

    #shop img {
        width: 75px;
        height: 75px;
    }
}

/* PC */
@media (min-width: 1025px) {}

/* ENEMIES */
#scene-enemies-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;

}

#all-enemies {
    height: 80%;
    overflow-y: auto;
    scrollbar-color: var(--secondary-color) var(--primary-color);
}

#scene-enemies-container #enemies,
#scene-enemies-container #final-bosses {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-bottom: 20px;
    flex-wrap: wrap;

}

#scene-enemies-container #enemies>div,
#scene-enemies-container #final-bosses>div {
    background-color: #b86e14;
    background-image: url("https://www.transparenttextures.com/patterns/wood-pattern.png");
    border: 4px solid var(--primary-color);
    border-radius: 10px;
    padding: 10px;
    height: auto;
    width: 200px;
}

#scene-enemies-container #enemies>div>div:nth-child(1),
#scene-enemies-container #final-bosses>div>div:nth-child(1) {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
    font-size: 1rem;
    font-weight: bold;
    width: 100%;
}

#scene-enemies-container img {
    width: 100px;
    height: 100px;
    border: 4px solid var(--primary-color);
    border-radius: 10px;
    padding: 10px;
}

#scene-enemies-container #enemies img {
    background-color: var(--secondary-color);
}

#scene-enemies-container #final-bosses img {
    background-color: var(--primary-light-color);
}



#scene-enemies-container #enemies>div>div:nth-child(2),
#scene-enemies-container #final-bosses>div>div:nth-child(2) {
    border: 4px solid var(--primary-color);
    border-radius: 10px;
    padding: 10px;
    font-size: 0.7rem;
    height: 70px;
}

#scene-enemies-container #enemies>div>div:nth-child(2) {
    background-color: var(--secondary-color);
}

#scene-enemies-container #final-bosses>div>div:nth-child(2) {
    background-color: var(--primary-color);
    color: var(--secondary-color);
}

/* BATTLE */
#scene-battle-container {
    height: 100%;
    border: 4px solid var(--primary-color);
    border-radius: 10px;
    background-color: #b86e14;
    background-image: url("https://www.transparenttextures.com/patterns/wood-pattern.png");
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

#scene-battle-container #battle-count {
    margin: 10px;
}

#scene-battle-container #battle {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 10px;
}

#scene-battle-container #player-battle,
#scene-battle-container #enemy-battle {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 10px;
}

#scene-battle-container #battle>div:nth-child(2) {
    font-size: 2rem;
    color: var(--primary-color);
}

#scene-battle-container #battle h2 {
    font-size: 1.5rem;
}

#scene-battle-container img {
    height: 150px;
    width: 150px;
    border: 4px solid var(--primary-color);
    border-radius: 10px;
    background-color: var(--secondary-color);
    padding: 10px;
}

#scene-battle-container #battle-info {
    font-size: 1.5rem;
    text-align: center;
}

#battle-continue {
    position: absolute;
    bottom: 20px;
}

/* Phone */
@media (max-width: 480px) {
    #scene-battle-container img {
        height: 100px;
        width: 100px;
    }

    #scene-battle-container #battle>div:nth-child(2) {
        font-size: 1rem;
    }

    #scene-battle-container #battle h2 {
        font-size: 0.9rem;
    }

    #scene-battle-container #battle-info {
        font-size: 1rem;
    }
}

/* RANKING */
#scene-ranking-container {
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 4px solid var(--primary-color);
    border-radius: 10px;
    background-color: #b86e14;
    background-image: url("https://www.transparenttextures.com/patterns/wood-pattern.png");
    padding: 10px;
    font-size: 1.5rem;
    gap: 30px;
}

#scene-ranking-container #player-name-ranking,
#scene-ranking-container #player-category,
#scene-ranking-container #points-ranking {
    font-size: 2rem;
    font-weight: bold;
}

#ranking-reset {
    position: absolute;
    bottom: 20px;
}

/* Phone */
@media (max-width: 480px) {
    #scene-ranking-container {
        font-size: 0.8rem;
    }

    #scene-ranking-container #player-name-ranking,
    #scene-ranking-container #player-category,
    #scene-ranking-container #points-ranking {
        font-size: 1rem;
        font-weight: bold;
    }
}


/* FOOTER */
footer {
    display: flex;
    align-items: center;
    justify-content: center;

    #inventory-container {
        background-color: #b86e14;
        background-image: url("https://www.transparenttextures.com/patterns/wood-pattern.png");
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-items: center;
        width: 90%;
        max-width: 800px;
        margin: 8px 20%;
        padding: 8px;
        gap: 4px;
        border: 4px solid var(--primary-color);
        border-radius: 10px;

        @media (max-width: 768px) {
            margin: 8px 5%;
        }

        .item {
            flex: 1;
            aspect-ratio: 1 / 1;
            border: 4px solid var(--primary-color);
            border-radius: 10px;
            background-color: var(--secondary-color);

            img {
                border: none;
                width: 100%;
                height: 100%;
            }
        }
    }
}



.button-container {
    height: 20%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}

#player-continue,
#shop-continue,
#player-inventory-continue,
#enemies-continue,
#battle-continue,
#ranking-reset {
    background-color: var(--secondary-color);
    border: 4px solid var(--primary-color);
    border-radius: 10px;
    height: 70px;
    width: 150px;
    font-size: 1.5rem;
    font-weight: bold;
    padding: 10px;
}

#player-continue:hover,
#shop-continue:hover,
#player-inventory-continue:hover,
#enemies-continue:hover,
#battle-continue:hover,
#ranking-reset:hover {
    transform: scale(1.05);
    transition: transform 0.1s ease;
}

/* Phone */
@media (max-width: 480px) {}

/* Tablet */
@media (min-width: 481px) and (max-width: 1024px) {}

/* PC */
@media (min-width: 1025px) {}



/* Phone */
@media (max-width: 480px) {}

/* Tablet */
@media (min-width: 481px) and (max-width: 1024px) {}

/* PC */
@media (min-width: 1025px) {}