:root {
    --color-white: #F9FAFB;
    --color-black: #111827;
    --color-blue: #3B82F6;
    --color-red: #EF4444;
    --color-green: #10B981;
    --color-light-grey: #9CA3AF;
    --color-dark-grey: #6B7280;
}

* {
    box-sizing: border-box;
}
