:root {
    --color-white: #F9FAFB;
    --color-black: #111827;
    --color-blue: #3B82F6;
    --color-red: #EF4444;
    --color-green: #10B981;
    --color-light-grey: #9CA3AF;
    --color-dark-grey: #6B7280;
}

* {
    box-sizing: border-box;
}

body{}

#search-panel{
    display: flex;
    flex-direction: column;
    gap: 2px;
    width: 200px;
}

#search-panel select{
    margin-bottom: 10px;
}

#gasolineras{
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 20px;
    width: 600px;
}

.gasolinera{
    border: 2px solid var(--color-light-grey);
    padding: 10px;
    border-radius: 20px;
}