:root {
    --color-white: #F9FAFB;
    --color-black: #111827;
    --color-blue: #3B82F6;
    --color-red: #EF4444;
    --color-green: #10B981;
    --color-light-grey: #9CA3AF;
    --color-dark-grey: #6B7280;
}

/* IMPORTANT */
section.active{
    display: block;
}
section{
    display: none;
}

#age-container.active{
    display: block;
}

#age-container{
    display: none;
}

#accept-cookies-container.active{
    display: block !important;
}
#accept-cookies-container{
    display: none !important;
}

/* ERROR */
.error{
    border: 2px solid var(--color-red)
}

.errorMessage{
    font-size: 80%;
    color: var(--color-red);
    position: relative;
    bottom: 5px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body.dark-mode{
    background-color: var(--color-black);
    color: var(--color-white);
}

body{
    background-color: var(--color-white);
    color: var(--color-black);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

footer{
    position: fixed;
    bottom: 0px;
    border-top: 2px solid var(--color-dark-grey);
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: end;
    padding: 10px;
}


/* Containers */
.main-container{
    border: 2px solid var(--color-dark-grey);
    border-radius: 10px;
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 50px;
}

.flexRowCenter{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.loginVisibility{
    position: absolute;
    margin-left: 230px;
    color: var(--color-black);
}



/* Colors */

.bcBlue{
    background-color: var(--color-blue);
}
.bcRed{
    background-color: var(--color-red);
}
.bcGreen{
    background-color: var(--color-green);
}

.cBlue{
    color: var(--color-blue);
}
.cRed{
    color: var(--color-red);
}
.cGreen{
    color: var(--color-green);
}

/* Inputs */
input{
    background-color: var(--color-light-grey);
    color: var(--color-black);
    border-radius: 5px;
    margin: 5px;
    padding: 5px;
    width: 90%;
}

input[type="checkbox"]{
    width: auto;
}

a{
    margin: 5px;
}

a:hover{
    text-decoration: underline;
}

button{
    border-radius: 5px;
    margin-top: 20px;
    padding: 5px;
    min-width: 100px;
}

button:disabled{
    background-color: var(--color-light-grey);
    color: var(--color-dark-grey);
}

/* Labels */
label{
    font-weight: bold;
}
.placeholder{
    color: var(--color-light-grey);
    font-size: 12px;
}

.label-info{
    width: 90%;
    margin-top: 15px;
}