:root {
    --color-white: #F9FAFB;
    --color-black: #111827;
    --color-blue: #3B82F6;
    --color-red: #EF4444;
    --color-green: #10B981;
    --color-light-grey: #9CA3AF;
    --color-dark-grey: #6B7280;
}

* {
    box-sizing: border-box;
}

*:hover{
    cursor: default;
}

body {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-color: var(--color-black);

}

h1 {
    font-size: 64px;
    color: var(--color-white);
}

section {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 10px;
}

.tablero {
    background-color: var(--color-white);
    border-radius: 5px;
    width: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 8px;
    gap: 8px;
}

.tablero .tablero-drag-drop{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
}

.tablero h3 {
    background-color: var(--color-light-grey);
    border-radius: 5px;
    padding: 8px;
    width: 100%;
    text-align: center;
    margin: 0px;
}

.tablero .card {
    border: 2px solid var(--color-dark-grey);
    border-radius: 5px;
    padding: 5px;
    width: 100%;
    position: relative;
    min-height: 35px;
}

.tablero .card .card-text{
    overflow-wrap: break-word;
    white-space: pre-wrap;
}

.tablero .card .delete-card {
    position: absolute;
    right: 0px;
    top: 0px;
    display: none;
}

.tablero .card .delete-card:hover {
    transform: scale(1.3);
}

.tablero .card:hover {
    background-color: var(--color-light-grey);
    padding-inline: 0px;
}

.tablero .card:hover .card-text {
    width: 90%;
}

.tablero .card:hover .delete-card {
    display: block;
}

.tablero .new-card {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 8px;
    margin-top: 10px;
}

.tablero .new-card .new-card-title {
    border: 1px solid var(--color-dark-grey);
    border-radius: 5px;
    padding: 5px;
    min-height: 50px;
    resize: none;
}

.tablero .new-card .new-card-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.tablero .new-card .new-card-footer .save-new-card {
    background-color: var(--color-dark-grey);
    color: var(--color-white);
    padding: 5px;
    border-radius: 5px;
}

.tablero .new-card .new-card-footer .save-new-card:hover {
    transform: scale(1.05);
}

.tablero .new-card .new-card-footer .cancel-new-card:hover {
    transform: scale(1.3);
}

.tablero .add-new-card {
    align-self: flex-start;
    justify-self: center;
    padding: 5px;
}

.tablero .add-new-card:hover {
    transform: scale(1.05);
}